# Compiled Go binary
user-service
user-service.exe

# Dependency directories
/bin/
/pkg/
/vendor/

# Binary executables
*.exe
*.out

# Log files
*.log

# Output files from test coverage
*.cover
*.coverprofile

# Environment variables file
.env

# macOS specific files
.DS_Store

# Visual Studio Code settings
.vscode/

# Go specific
.idea/
*.iml
*.swp
.idea

# Binary release build
release/

# SQLite database files
*.db
*.sqlite3

# Compiled Web assets
web/assets

# User-specific files
# config/dev_config.yaml
# config/prod_config.yaml
